.card__stats {
  display: flex;
  margin-top: 1rem;
}

.card__stats__list {
  display: flex;
  gap: 2rem;
  padding-left: 1rem;
}

.card__stats__list span {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  letter-spacing: 0.14px;
  color: #444444;
}
